
@page
@model PBIManagerWeb.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="row">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity.ResourceGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity.ResourceGroup)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity.Sku)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity.Sku)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity.Region)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity.Region)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity.Administrators)
        </dt>
        <dd class="col-sm-10">
            @foreach (var admin in @Model.Capacity.Administrators)
            {
                <p>@admin</p>
            }
        </dd>
    </dl>

    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Capacity.Id">Edit</a> |
        <a asp-page="./ManageCapacity">Back to Manage Capacities</a>
    </div>
</div>

